*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

           /* ===== PAGE ===== */

        body {
            font-family: "Segoe UI", Arial, sans-serif;
            line-height: 1.7;
            color: #2d2d2d;
            background: linear-gradient(#f8f3e8, #f1e7d0);
            padding: 40px;
        }

           /* ===== RESUME ===== */

        .container {
            max-width: 900px;
            margin: auto;
            padding: 20px;
            background: #fffdf8;
            border: 4px solid #8b0000;
            border-radius: 12px;
            box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);

            /* ===== HEADER ===== */

        }
        .header {
            max-width: 900px;
            margin: auto;
            padding: 20px;
            background: #fffdf8;
            border: 4px solid #8b0000;
            border-radius: 12px;
            box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
        }

        .header h1 {
            font-size: 3rem;
            letter-spacing: 2px;
            color: #8b0000;
            margin-bottom: 10px;
        }

            /* Contact line */
            
        .contact {
            font-size: 0.95rem;
        }

        .contact a {
            color: #8b0000;
            text-decoration: none;
        }

        .contact a:hover {
            color: #b22222;
            text-decoration: underline;
        }

            /* ===== SECTIONS ===== */

        .section {
            margin:35px 0;
        }

        .section h2 {
            font-family: Georgia, serif;
            color: #8b0000;
            font-size: 1.4rem;
            border-left: 8px solid #8b0000;
            padding-left: 12px;
            margin-bottom: 18px;
        }

            /* ===== PARAGRAPHS ===== */
        
        .section p {
            font-size: 1rem;
            opacity: 0.9;
        }

            /* ===== Skills ===== */

        .skills ul {
             display: flex;
             flex-wrap: wrap;
             gap: 12px;
             list-style: none;
}

        .skills ul li {
             background: #8b0000;
             color: white;
             padding: 8px 14px;
             border-radius: 20px;
             font-weight: bold;
             transition: all 0.3s ease;
}

                /* ===== Project + Education Items ===== */

            .item {
                margin-bottom: 20px;
            }
            
            .item h3 {
                color: #4b1c1c;
                margin-bottom: 6px;
            }

            .item p {
                margin-top: 6px
            }

            /* ===== Responsive ===== */

        @media {
    
            .container {
                margin: 20px;
                padding: 15px;
            }

            .heeader h1 {
                font-size: 2rem;
            }

            .skills ul {
                flex-direction: column;
            }
}