*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

           /* ===== PAGE ===== */

        body {
            font-family: "Segoe UI", Arial, sans-serif;
            line-height: 1.7;
            color: #2d2d2d;
            background: linear-gradient(#f8f3e8, #ef36d4);
            padding: 40px;
        }

           /* ===== RESUME ===== */

        .container {
            max-width: 900px;
            margin: auto;
            padding: 20px;
            background: #fffdf8;
            border: 4px solid #8b0000;
            border-radius: 12px;
            box-shadow: 0 12px 30px rgba(0, 0, 0, .15);

            /* ===== HEADER ===== */

        }
        .header {
            text-align: center;
            margin-bottom: 35px;
            padding-bottom: 20px;
            border-bottom: 3px solid #8b0000;
        }

        .header h1 {
            text-align: center;
            font-size: 3rem;
            letter-spacing: 2px;
            color: #8b0000;
            margin-bottom: 10px;
        }
        
        .contact {
            font-size: .95px;
        }

        .contact a {
            color: #8b0000;
            text-decoration: none;
        }

        .contact a:hover {
            color: #b22222;
            text-decoration: underline;
        }

            /* ===== SECTIONS ===== */

        .section {
            margin: 35px 0;
        }

        .section h2 {
            font-family: Georgia, serif;
            color: #8b0000;
            font-size: 1.4rem;
            border-left: 8px solid #8b0000;
            padding-left: 12px;
            margin-bottom: 18px;
        }

            /* ===== ITEMS ===== */
        
        .item {
            margin-bottom: 20px;
        }
        .item h3 {            
            color: #4b1c1c;
            margin-bottom: 6px;
        }

        .item p {
            margin-top: 6px
        }

            /* ===== SKILLS ===== */

        .skills ul {
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            list-style: none;
        }

        .skills ul li {
            background: #007bff;
            color: white;
            padding: 8px 14px;
            border-radius: 20px;
            font-weight: bold;
            transition: .3s;
        }

        .skills li:hover {
            background: #b22222;
            transform: translateX(-2px)
        }

        @media print {
    
            
}